/* Remove default spacing */
body, html {
  margin: 0;
  padding: 0;
}

/* Navbar full width */
.navbar {
  width: 105%;               /* full width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #22577A;
  color: #F0EADF;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  box-sizing: border-box;    /* include padding in width */
}



.navbar-links a {
  color: #F0EADF;
  text-decoration: none;
  margin-left: 16px;
  font-weight: 500;
}

.navbar-links a:hover {
  text-decoration: underline;
}
