@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-jade: #26a96c;
  --color-light-green: #80ed99;
  --color-eggshell: #f0eadf;
  --color-light-turq: #38a3a5;
  --color-blue: #22577a;
}


body {
  background-color: var(--color-eggshell);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
